<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Valeo Project</title>
    <style>
      body {
        background-color: rgb(235, 241, 239);
        margin: 0;
        font-family: Arial, sans-serif;
      }

      header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 15px;
        background-color: #ffffff;
        box-shadow: 0 2px 2px black;
      }

      .logo img {
        width: 100px;
        height: auto;
        margin-left: 50px;
        margin-right: 50px;
      }

    
    </style>
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="https://www.manuales.mx/thumbs/brands/l/7287-valeo_logo.webp" alt="Valeo Logo" />
      </div>
    </header>
     <p style="font-size: 30px; text-align: justify; margin-left: 5%; margin-right: 5%;">
            The Sensor Box project aims to generate faults in the parking sensors installed in cars. Simulate three outputs using a microcontroller that will be controlled by the PC, using a serial communication protocol. The expected simulated outputs are: open circuit, short circuit to the battery,  short circuit to ground, and normal operating sensor.
      </p>
  </body>
</html>
